#portrait
{
    position: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clearfix {
  overflow: auto;
}

.mainpanel
{
	float: center;
	text-align: center;
}

.blog
{
    padding: 20px;
    float: center;
    width: 70%;
    height: auto;
}

.blog img
{
    float: left;
    height: 100px;
    width: 100px;
    margin: 30px;
}

.blog div
{
    margin-left: 20px;
    float: right;
    width: 300px;
}


