#menu {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    overflow: hidden;
    background-color: #264d73;
}

#portrait
{
    position: center;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
li {
    float: left;
    display: inline;
}
.mainpanel
{
	float: center;
	text-align: center;
}
div{
	padding: 200;
	
}
html
{
	background: #C6D9EC;
}