ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    overflow: hidden;
    background-color: #264d73;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
li {
    float: left;
}
#mainpanel
{
	float: center;
}
div{
	padding: 100;
	background: #c6d9ec;
}