#card-div
{
	text-align: center;
}

#card
{
	width: 100vw;
	height: 100vh;
	z-index: -1;
	
	position: absolute;
	top: 0;
	left: 0;
}

#vid
{
	
  	z-index: 10;
 	position: relative;
 	margin-top: 35vh;
}

body
{
	color: black;
	background-color: black;
}